<div class="row">
    <form action="" name="plug" method="post" class="col s12" onsubmit="sendu(this); return false">

        <h5 class="light">Вывести виджет на страницу можно с помощью метки <b>&#123;&#123; ulogin &#125;&#125;</b></h5>
        <br>

        <div class="card-panel">

            <div class="row">
                <div class="col s12" style="font-weight: bold">
                    Вариант 1: укажите uLogin ID, который можно получить в личном кабинете http://ulogin.ru
                </div>
            </div>
        
            <div class="row">
                <div class="input-field col s12">
                    <input id="ulogin_id" type="text" size="100" name="ulogin_id" value="{{ config.ulogin_id }}">
                    <label for="ulogin_id">uLogin ID</label>
                </div>
            </div>

        </div>
        
        <div class="card-panel">

            <div class="row">
                <div class="col s12" style="font-weight: bold">
                    Вариант 2: выберите параметры виджета
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <select id="display" name="display">
                        <option value="small" {% if config.display == "small" %} selected{% endif %}>small</option>
                        <option value="panel" {% if config.display == "panel" %} selected{% endif %}>panel</option>
                        <option value="window" {% if config.display == "window" %} selected{% endif %}>window</option>
                    </select>
                    <label>Выберите тип виджета</label>
                </div>
            </div>

            <div class="row hide_on_window">
                <div class="input-field col s12">
                    <div>Список всех доступных сервисов:</div>
                    <div style="font-style: italic">vkontakte, odnoklassniki, mailru, facebook, twitter, google, yandex, livejournal, openid, lastfm, linkedin, liveid, soundcloud, steam, flickr, uid, youtube, webmoney, foursquare, tumblr, googleplus, dudu, vimeo, instagram, wargaming</div>
                </div>
            </div>

            <div class="row hide_on_window">
                <div class="input-field col s12">
                    <input id="providers" type="text" size="100" name="providers" value="{{ config.providers }}">
                    <label for="providers">Отображаемые сервисы</label>
                </div>
            </div>

            <div class="row hide_on_window">
                <div class="input-field col s12">
                    <input id="hidden" type="text" size="100" name="hidden" value="{{ config.hidden }}">
                    <label for="hidden">Сервисы, которые видны только после наведения мыши:<br><small>Примечание: чтобы не перечислять все сервисы, можно вывести все оставшиеся параметром other</small></label>
                </div>
            </div>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button class="btn-floating btn-large deep-orange form_save tooltipped" data-position="left" data-tooltip="Сохранить изменения" type="submit" name="send">
                <i class="large mdi-content-save"></i>
            </button>
        </div>
        
    </form>
</div>

<script>
    // Отправляет форму на сервер и отображает статус выполненного действия
    function sendu(e) {
        if (e instanceof Object != true) {
            e = $('#'+e)
        }

        formname = $(e).attr("name")
        formData = new FormData(document.forms[formname])
        
        xhr = new XMLHttpRequest()
        xhr.open('POST', $(e).attr("action"), true)
        xhr.onload = function(e) {
            if (this.status == 200) {
                Materialize.toast('Сохранено', 4000);
            } else {
                Materialize.toast('Произошла неизвестная ошибка', 4000);
            }
        }
        xhr.send(formData)
    }

    function set_opacity() {
        if ($("#display")[0].value == "window") {
            $(".hide_on_window").fadeTo( "slow", 0.2 );
        } else {
            $(".hide_on_window").fadeTo( "slow", 1 );
        }
    }

    $(document).ready(function() {
        set_opacity();
        $("#display").material_select();
        $("#display").on("change", function () {
            set_opacity();
        });
    });
</script>